<%= form_for(@life_event) do |f| %>
  <% if @life_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@life_event.errors.count, "error") %> prohibited this life_event from being saved:</h2>

      <ul>
      <% @life_event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :day %><br>
    <%= f.date_select :day %>
  </div>
  <div class="field">
    <%= f.label :happiness %><br>
    <%= f.number_field :happiness %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
