<!DOCTYPE html>
<html>
<head>
  <title>LifeEvents</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap/3.3.0/css/bootstrap.min.css">

<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="/DataTables-1.10.3/css/jquery.dataTables.css">

  <%= csrf_meta_tags %>
</head>
<body>


  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" <%= link_to "Life Events", life_events_path %></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Add New Life Event", new_life_event_path %></li>
      </ul>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"></li>
          <li><%= link_to 'About', life_events_path %></a></li>

        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to 'Users', life_events_path %></a></li>
          <% if current_user %>
            <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
          <% end %>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>


  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">

      <% if alert %>
        <div class="alert alert-danger alert-dismissible"  role="alert">
          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
          </button>
          <%= alert %>
        </div>
      <% end %>

      <% if notice %>
        <div class="alert alert-success" role="alert" data-dismiss="alert">
          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
          </button>
          <%= notice %>
        </div>
      <% end %>

        <%= yield %>
      </div>
    </div>
  </div>



  <script src="https://cdn.jsdelivr.net/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</body>
</html>
